<LinkTo @route="one" @query={{hash oneQueryParam=this.someHardState}}>
	Go To Application
</LinkTo>

Current Number is: {{this.num}}
<button {{on 'click' this.incrementor}}>
	+1 to complex state
</button>
<button {{on 'click' (fn this.changeQuery (hash hello="world" other=(hash stuff="inside")))}} role="button">
	My button
</button>

{{log this.oneQueryParam}}